* { padding: 0; margin: 0; }

body {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 13px;
 color:white;
}
#wrapper { 
 margin:auto;
 width:960px;
}
#header {
color: white;
width: 960px;
float: left;
padding: 10px;
border: 1px solid #000;
height: 180PX;
margin: 10px 0px 5px 0px;
background: hsla(0, 0%, 14%, 0.39);
background-image: url(../Images2/header3.png);
background-repeat: no-repeat;
background-position: 100%;

}
#header1 {
background-image: url(../Images2/save2.png);
width: 185px;
float: left;
height: 180PX;
margin-left: -14px;
background-color: rgba(250, 235, 215, 0);
margin-top: -1%;
padding-top: 1%;
}
#navigation1 {
float: left;
width: 960px;
color: white;
padding: 10px;
border: hsla(0, 0%, 1%, 0.39);
margin: 0px 0px 5px 0px;
background-color: hsla(0, 2%, 12%, 0.81);
}
#navigation {
float: left;
width: 960px;
color: white;
padding: 10px;
border: 1px solid hsl(0, 100%, 100%);
margin: 0px 0px 5px 0px;
background-color: hsla(0, 100%, 100%, 1);
}
#leftcolumn {
float: left;
width: 960px;
color: white;
padding: 10px;
border: 1px solid #ccc;
margin: -27px 0px 5px -11px;
background-color: rgb(219, 186, 186);
}
#rightcolumn {
float: right;
color: white;
border: 1px solid hsl(0, 0%, 0%);
background: hsla(0, 0%, 7%, 0.89);
margin: 0px 0px 5px 0px;
padding: 10px;
margin-right: -22px;
width: 960px;
display: inline;
}
#footer {
width: 960px;
clear: both;
color: white;
border: hsla(0, 0%, 49%, 0.85);
background-color: hsla(0, 0%, 7%, 0.84);
margin: 0px 0px 10px 0px;
padding: 10px;
}





body {
    background-image: url("../Images2/cr.jpg");
color: white;
background-repeat: no-repeat;
background-color: black;
}

header .float-left,
header .float-right {
    float: none;
}

logo header .site-title {
    margin: 10px;
    text-align: center;
}

.ImgSize {
width: 220px;
height: 210px;
}

div#MainContent_ValidationSummary1 {
    float: right;
    margin-top: -40px;
    margin-right: 700px;
    padding: 1px;
    -moz-box-shadow: 0px 10px 14px -7px #3e7327;
    -webkit-box-shadow: 0px 10px 14px -7px hsl(341, 68%, 51%);
    box-shadow: 0px 10px 14px -7px hsl(341, 65%, 41%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, hsl(343, 100%, 50%)), color-stop(1, hsl(336, 88%, 32%)));
    background: -moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background: -webkit-linear-gradient(top, hsl(348, 79%, 50%) 5%, hsl(346, 76%, 46%) 100%);
    background: -o-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background: -ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background: linear-gradient(to bottom, hsl(355, 88%, 66%) 5%, hsl(348, 54%, 74%) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
    background-color: hsl(0, 100%, 50%);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid hsl(334, 76%, 49%);
    display: inline-block;
    color: hsl(0, 100%, 27%);
}

.success {
    float: left;
    margin-top: -80px;
    padding: 10px;
    -moz-box-shadow: 0px 10px 14px -7px #3e7327;
    -webkit-box-shadow: 0px 10px 14px -7px hsl(102, 49%, 30%);
    box-shadow: 0px 10px 14px -7px hsl(102, 49%, 30%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, hsl(101, 38%, 53%)), color-stop(1, hsl(100, 39%, 51%)));
    background: -moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background: -webkit-linear-gradient(top, hsl(101, 38%, 53%) 5%, hsl(100, 39%, 51%) 100%);
    background: -o-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background: -ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background: linear-gradient(to bottom, hsl(101, 38%, 53%) 5%, hsl(100, 39%, 51%) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
    background-color: hsl(101, 38%, 53%);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid hsl(100, 55%, 36%);
    display: inline-block;
    color: hsl(0, 100%, 100%);
}

.main-content,
.featured + .main-content {
    background-position: 10px 0;
}

.div2 {
    padding-right: 10px;
    padding-left: 10px;
}

.featured .div2 {
    padding: 10px;
}

page content article, aside {
    float: none;
    width: 100%;
}

ordered list ol.round {
    list-style-type: none;
    padding-left: 0;
}

ol.round li {
    padding-left: 10px;
    margin: 25px 0;
}

    ol.round li.zero,
    ol.round li.one,
    ol.round li.two,
    ol.round li.three,
    ol.round li.four,
    ol.round li.five,
    ol.round li.six,
    ol.round li.seven,
    ol.round li.eight,
    ol.round li.nine {
        background: none;
    }

features section.feature {
    float: none;
    padding: 10px;
    width: auto;
}

section.feature img {
    color: white;
    content: attr(alt);
    font-size: 1.5em;
    font-weight: 600;
}

forms input {
    width: 100%;
}




input#MainContent_btnDelete {
    float: right;
    margin-top: -111px;
    margin-right: 500px;
    border: none;
}

input#MainContent_fuUpload {
    width: 200px;
    height: 25px;
    background-color: white;
    margin-top: 40px;
}


.btnLogin {
height: 30px;
Width: 140px;
margin-left: 111%;
margin-top: -9%;
}

.btnLogout {
    Width: 140px;
    Height: 30px;
}


div.youtube {
    margin: auto;
    margin-left: 9.8%;
}




a#HyperLink46 {
width: 175px;
height: 184px;
float: right;
margin-top: -32px;
}










#nav
		{
			width: 100%; 
			position: relative;
			top: 25%;

		}

			#nav > a
			{
				display: none;
			}

			#nav li
			{
				position: relative;
			}
				#nav li a
				{
					color: white;
					display: block;
                    /*font-size:xx-large;*/
                    /*font-family:'Agency FB';*/
                     text-decoration:  none;
				}
				#nav li a:active
				{
					background-color: black !important;
				}

			#nav span:after
			{
				width: 0;
				height: 0;
				border: 0.313em solid transparent; /* 5 */
				border-bottom: none;
				border-top-color: black;
				content: '';
				vertical-align: middle;
				display: inline-block;
				position: relative;
				right: -0.313em; /* 5 */
			}

			/* first level */

			#nav > ul
			{
				height: 2.75em; /* 60 */
				background-color: black;
			}
				#nav > ul > li {
width: 20%;
height: 100%;
float: left;
}
					#nav > ul > li > a
					{
						height: 100%;
						/*font-size: 1.5em;*/
						line-height: 2.5em; 
						text-align: center;
					}
						#nav > ul > li:not( :last-child ) > a
						{
							border-right: 1px solid white;
						}
						#nav > ul > li:hover > a,
						#nav > ul:not( :hover ) > li.active > a
						{
							background-color: white;
                            color:black;
						}


				/* second level */

				#nav li ul
				{
					background-color:black;
					display: none;
					position: absolute;
					top: 100%;
				}
					#nav li:hover ul
					{
						display: block;
						left: 0;
						right: 0;
					}
						#nav li:not( :first-child ):hover ul
						{
							left: -1px;
						}
						#nav li ul a
						{
							/*font-size: 1.25em;*/ 
							border-top: 1px solid black;
							padding: 0.75em; /* 15 (20) */
                            text-decoration:  none;
						}
							#nav li ul li a:hover,
							#nav li ul:not( :hover ) li.active a
							{
								background-color: white;
                                color:black;
							}


		@media only screen and ( max-width: 62.5em ) /* 1000 */
		{
			#nav
			{
				width: 100%;
				position: static;
				margin: 0;
			}
		}

		@media only screen and ( max-width: 40em ) /* 640 */
		{
			html
			{
				/*font-size: 75%;*/ 
			}

			#nav
			{
				position: relative;
				top: auto;
				left: auto;
			}
				#nav > a
				{
					width: 3.125em; /* 50 */
					height: 3.125em; /* 50 */
					text-align: left;
					text-indent: -9999px;
					background-color: black;
					position: relative;
				}
					#nav > a:before,
					#nav > a:after
					{
						position: absolute;
						border: 2px solid white;
						top: 35%;
						left: 25%;
						right: 25%;
						content: '';
					}
					#nav > a:after
					{
						top: 60%;
					}

				#nav:not( :target ) > a:first-of-type,
				#nav:target > a:last-of-type
				{
					display: block;
				}


			/* first level */

			#nav > ul
			{
				height: auto;
				display: none;
				position: absolute;
				left: 0;
				right: 0;
			}
				#nav:target > ul
				{
					display: block;
				}
				#nav > ul > li
				{
					width: 100%;
					float: none;
				}
					#nav > ul > li > a
					{
						height: auto;
						text-align: left;
						padding: 0 0.833em; /* 20 (24) */
					}
						#nav > ul > li:not( :last-child ) > a
						{
							border-right: none;
							border-bottom: 1px solid white;
						}


				/* second level */

				#nav li ul
				{
					position: static;
					padding: 1.25em; /* 20 */
					padding-top: 0;
				}
		}

.carBrandsLogo img {
width: 5.2%;
float: left;
padding: 5px;
padding-bottom: 2px;
padding-top: 2px;
}

.favoriteButton {
width: 10%;
}

.spanImgs {
float: left;
margin:auto;
padding:1%;
}
.imgUserPhoto {
width: 220px;
height: 200px;

}


.Green {
    float: right;
margin-top: -9.5%;
margin-right: 5%;
-moz-box-shadow: inset 0px 1px 0px 0px #d9fbbe;
-webkit-box-shadow: inset 0px 1px 0px 0px hsl(242, 93%, 53%);
box-shadow: inset 0px 1px 0px 0px hsl(247, 100%, 51%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, hsl(228, 94%, 42%)), color-stop(1, hsl(250, 100%, 27%)));
background: -moz-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
background: -webkit-linear-gradient(top, hsl(240, 87%, 43%) 5%, hsl(245, 82%, 31%) 100%);
background: -o-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
background: -ms-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
background: linear-gradient(to bottom, hsl(238, 87%, 58%) 5%, hsl(235, 34%, 38%) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52',GradientType=0);
background-color: hsl(238, 55%, 57%);
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
border: 1px solid hsl(228, 100%, 70%);
display: inline-block;
cursor: pointer;
color: hsl(0, 100%, 100%);
font-family: arial;
font-size: 10px;
font-weight: bold;
padding: 3px 5px;
text-decoration: none;
text-shadow: 0px 1px 0px hsl(226, 92%, 29%);
}
.Green:hover {
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, hsl(228, 92%, 50%)), color-stop(1, hsl(223, 79%, 50%)));
background: -moz-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
background: -webkit-linear-gradient(top, hsl(254, 57%, 42%) 5%, hsl(238, 70%, 41%) 100%);
background: -o-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
background: -ms-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
background: linear-gradient(to bottom, hsl(230, 94%, 37%) 5%, hsl(230, 60%, 44%) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356',GradientType=0);
background-color: hsl(221, 38%, 49%);
}
 .Green:active {
        position: relative;
        top: 1px;
    }



.Green1 {
    -moz-box-shadow: inset 0px 1px 0px 0px #d9fbbe;
    -webkit-box-shadow: inset 0px 1px 0px 0px #d9fbbe;
    box-shadow: inset 0px 1px 0px 0px #d9fbbe;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52));
    background: -moz-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
    background: -webkit-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
    background: -o-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
    background: -ms-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
    background: linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52',GradientType=0);
    background-color: #b8e356;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #83c41a;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: arial;
    font-size: 10px;
    font-weight: bold;
    padding: 3px 12px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #86ae47;
}

    .Green1:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356));
        background: -moz-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
        background: -webkit-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
        background: -o-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
        background: -ms-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
        background: linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356',GradientType=0);
        background-color: #a5cc52;
    }

    .Green1:active {
        position: relative;
        top: 1px;
    }



.Red {
    -moz-box-shadow: inset 0px 1px 0px 0px #f29c93;
    -webkit-box-shadow: inset 0px 1px 0px 0px #f29c93;
    box-shadow: inset 0px 1px 0px 0px #f29c93;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100));
    background: -moz-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
    background: -webkit-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
    background: -o-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
    background: -ms-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
    background: linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100',GradientType=0);
    background-color: #fe1a00;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #d83526;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: arial;
    font-size: 10px;
    font-weight: bold;
    padding: 3px 12px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b23e35;
}

    .Red:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00));
        background: -moz-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
        background: -webkit-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
        background: -o-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
        background: -ms-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
        background: linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00',GradientType=0);
        background-color: #ce0100;
    }

    .Red:active {
        position: relative;
        top: 1px;
    }


    span#MainContent_ImagesListView_DataPager {
    float: right;
    color:white;
    font-family: cursive;
    font-size: larger;
   
    clear:both;
}



div#pnlFbUser {
margin-left: 110.5%;
margin-top: 22%;
color: floralwhite;
font-weight: 900;
font-size: larger;
}


.ShareCarsPics4ULogo img {
margin: -88px 0px 0px 200px;
position: absolute;
}



.Search {
    margin-left: 40%;
margin-top: -5.5%;
-moz-box-shadow: inset 0px 1px 0px 0px #d9fbbe;
-webkit-box-shadow: inset 0px 1px 0px 0px hsl(242, 93%, 53%);
box-shadow: inset 0px 1px 0px 0px hsl(247, 100%, 51%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, hsl(228, 94%, 42%)), color-stop(1, hsl(250, 100%, 27%)));
background: -moz-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
background: -webkit-linear-gradient(top, hsl(240, 87%, 43%) 5%, hsl(245, 82%, 31%) 100%);
background: -o-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
background: -ms-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
background: linear-gradient(to bottom, hsl(238, 87%, 58%) 5%, hsl(235, 34%, 38%) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52',GradientType=0);
background-color: hsl(238, 55%, 57%);
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
border: 1px solid hsl(228, 100%, 70%);
display: inline-block;
cursor: pointer;
color: hsl(0, 100%, 100%);
font-family: arial;
font-size: 10px;
font-weight: bold;
padding: 4px 10px;
text-decoration: none;
text-shadow: 0px 1px 0px hsl(226, 92%, 29%);
}


.Search:hover {
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, hsl(228, 92%, 50%)), color-stop(1, hsl(223, 79%, 50%)));
background: -moz-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
background: -webkit-linear-gradient(top, hsl(254, 57%, 42%) 5%, hsl(238, 70%, 41%) 100%);
background: -o-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
background: -ms-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
background: linear-gradient(to bottom, hsl(230, 94%, 37%) 5%, hsl(230, 60%, 44%) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356',GradientType=0);
background-color: hsl(221, 38%, 49%);
}
 .Search:active {
        position: relative;
        top: 1px;
    }


h1,h2 {
    text-align: center;
}